# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle Caches & Daemon
caches/
daemon/
native/
wrapper/dists/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# Test output
/test-output/
